/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  height:1080px;
  
}

/******************************************
/* LAYOUT
/*******************************************/

.body {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    width: 400px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 15px;
}

html {
  clear: both;
}

img {
  width: 100%;
  height: auto;
  border-radius: 20px ;
}

h1 {
  text-align: center;
  color: hsl(218, 44%, 22%); 
  
}

h3 {
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position:relative;
  Width: 100%;
  bottom: 2%;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
